<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongwt.glasses.mapper.OrdersGoodsMapper">


    <insert id="add" parameterType="com.dongwt.glasses.dao.OrdersGoods" useGeneratedKeys="true" keyProperty="id">
        insert into orders_goods(orders_id,goods_id,nums)
        value(#{ordersId},#{goodsId},#{nums})
    </insert>

    <update id="delete" parameterType="com.dongwt.glasses.dao.OrdersGoods">
        update orders_goods
        set status = 0
        where id = #{id}
    </update>

    <update id="deleteByOrdersId" parameterType="com.dongwt.glasses.dao.OrdersGoods">
        update orders_goods
        set status = 0
        where orders_id = #{ordersId}
    </update>

</mapper>
